.details {

}

.details__container {
flex-direction: column;
justify-content: center;
align-items: center;
}

.details__title {
  font-family: var(--second-family);
font-weight: 400;
font-size: 64px;
text-transform: uppercase;
text-align: center;
color: var(--accent-color-text);
}

.details__list-top {
gap: 80px;
}

.details__item-top {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  text-align: center;
  color: var(--accent-color-text);
}

.details__list-bottom  {
  gap: 80px;
}

.details__item-bottom {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  text-align: center;
  color: var(--accent-color-text);
}
