.details {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}

.details__container {
  display: flex;
  justify-content: center;
}

.details__content {
  width: 620px;
  display: flex;
  padding-left: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.details__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #79585f;
  margin: 0;
  margin-bottom: 36px;
}

.details__text {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 20px;
      line-height: 145%;
      letter-spacing: 0.01em;
      text-align: center;
      color: #79585f;
      margin: 0;
      margin-bottom: 31px;
}

.details__image-left {
  position: absolute;
  left: 261px;
  bottom: 150px;
}

.details__image-right {
  position: absolute;
  right: 243px;
  bottom: 150px;
}

.details__pattern-left {
  position: absolute;
  left: 0;
  top: -10px;
}


.details__pattern-right {
  position: absolute;
  right: 0;
  top: -10px;
}

.details__svg {
  display: none;
}


@media (max-width:1200px) {

  .details {
    padding-bottom: 191px;
  }

.details__content {
  padding-left: 0;
}

  .details__pattern-left {
    top: -333px;
  }

  .details__pattern-right {
    top: -333px;
  }

  .details__image-left {
    bottom: 213px;
    left: 38px;
  }

  .details__image-right {
    bottom: 213px;
    right: 38px;
  }

  .details__svg {
    display: none;
  }
}


@media (max-width:720px) {

  .details {
    padding-top: 23px;
    padding-bottom: 50px;
  }

  .details__container {
    padding-top: 70px;
    position: relative;
    border-top: 2px solid #79585f;
    border-bottom: 2px solid #79585f;
  }

  .details__content {
    width: 312px;
    padding-bottom: 61px;
  }

  .details__container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 7px;
    right: 7px;
    bottom: 10px;
    border-top: 1px solid #79585f;
    border-bottom: 1px solid #79585f
  }

  .details__pattern-left {
    display: none;
  }

  .details__pattern-right {
    display: none;
  }

  .details__image-left {
    display: none;
  }

  .details__image-right {
    display: none;
  }

  .details__title {
    padding: 0;
    font-size: 36px;
    margin-bottom: 28px;
  }

  .details__text {
    padding: 0;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .details__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
  }
}
