.dresscode {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background: var(--background-color, #F8F9FA);
}

.dresscode__line {
  align-self: center;
  width: calc(100% - 200px);
  height: 1px;
  background-color: var(--dark-color-text, #212529);
}

.dresscode__texts {
  padding: 80px 200px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.dresscode__title {
  font-family: var(--sub-font, 'Noto Serif', Courier, monospace);
  font-weight: 300;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 0;
}

.dresscode__description {
  color: var(--dark-color-text, #212529);
  font-feature-settings: 'ss01' on, 'ss02' on;
  font-family: var(--description-font, 'Montserrat', Arial, sans-serif);
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: right;
  width: 65%;
  margin: 0;
}

.dresscode__colors {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.dresscode__color {
  width: 85px;
  height: 85px;
}

.dresscode__color_position_one {
  background: #4b4b4b;
}

.dresscode__color_position_two {
  background: #878974;
}

.dresscode__color_position_three {
  background: #e9c3c8;
}

.dresscode__color_position_four {
  background: #f5e0e0;
}

.dresscode__color_position_five {
  background: #c1daf2;
}

@media all and (max-width: 1279px) {
  .dresscode__texts {
    padding: 80px 100px;
    gap: 24px;
  }

  .dresscode__title {
    font-size: 48px;
  }

  .dresscode__description {
    font-size: 18px;
  }

  .dresscode__colors {
    gap: 15px;
  }

  .dresscode__color {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 733px) and (max-width: 1025px) {
  .dresscode {
    gap: 46px;
    padding: 88px 40px 88px 96px;
    align-items: flex-start;
  }

  .dresscode__texts {
    padding: 0;
    max-width: 700px;
  }

  .dresscode__figures {
    gap: 0;
  }

  .dresscode__line-first {
    display: none;
  }

  .dresscode__line-last {
    display: none;
  }
}

@media all and (max-width: 732px) {
  .dresscode {
    gap: 25px;
    padding: 44px 48px;
    align-items: flex-start;
  }

  .dresscode__texts {
    padding: 0;
    max-width: 700px;
    gap: 12px;
  }

  .dresscode__description {
    font-size: 12px;
    line-height: 16px;
    max-width: 400px;
  }

  .dresscode__figures {
    gap: 0;
  }

  .dresscode__colors {
    gap: 12px;
  }

  .dresscode__color {
    width: 35px;
    height: 35px;
  }

  .dresscode__line-first {
    display: none;
  }

  .dresscode__line-last {
    display: none;
  }
}
