.dresscode {
  padding-top: 123px;
  padding-bottom: 123px;
  position: relative;
}

.dresscode__container {
  width: 610px;
}

.dresscode__image-left {
  position: absolute;
  top: -25px;
  left: 0;
}

.dresscode__image-right {
  position: absolute;
  top: -41px;
  right: 0;
}

.dresscode__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #79585f;
  margin: 0;
  margin-bottom: 33px;
}

.dresscode-image {
  margin-bottom: 28px;
  padding-left: 80px;
}

.dresscode__description {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin: 0;
  margin-bottom: 39px;
}

.dresscode__list {
  justify-content: center;
  gap: 20px;
}

.dresscode__item {
  width: 85px;
  height: 85px;
}

.dresscode__item_position_one {
  background: #171614;
}

.dresscode__item_position_two {
  background: #124559;
}

.dresscode__item_position_three {
  background: #598392;
}

.dresscode__item_position_four {
  background: #8EA491;
}

.dresscode__item_position_five {
  background: #D3DABE;
}

@media(max-width: 1200px) {

  .dresscode {
    padding-bottom: 205px;
  }

  .dresscode__list {
    justify-content: flex-start;
    padding-left: 42px;
    gap: 20px;
}

.dresscode__image-left {
  top: -11px;
}
.dresscode__image-right {
  top: -11px;
}


}

@media (max-width:720px) {
.dresscode {
  padding-bottom: 50px;
}

.dresscode__container {
  width: 290px;
}

.dresscode__title {
  font-size: 36px;
  margin-bottom: 29px;
}

.dresscode__description {
font-weight: 300;
font-size: 16px;
line-height: 140%;
letter-spacing: 0.01em;
text-align: center;
color: #79585f;
margin-bottom: 26px;
}

.dresscode__item {
  width: 35px;
  height: 35px;
}

.dresscode__image-left {
  top: 4px;
}
.dresscode__image-right {
  top: 4px;
}

.dresscode-image {
  margin-bottom: 24px;
  padding-left: 13px;
  width: 250px;
  height: 2px;
}

.dresscode__list {
  justify-content: flex-start;
  padding-left: 14px;
  gap: 14px;
}
}

