.footer {
  padding: 64px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: var(--accent-block-backgroung, #343A40);
}

.footer__container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: var(--accent-block-color-text, #F8F9FA);
  text-align: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  margin-right: 13px;
}

.footer__logo {
  width: 137px;
  height: 28px;
  object-fit: contain;
}

@media (max-width:1200px) {
  .footer {
    padding: 89px 0;
    background: #91777b;
  }
}

@media (max-width:720px) {

.footer {
  background: #79585f;
  padding-top: 53px;
  padding-bottom: 47px;
}

.footer__text {
  margin-bottom: 10px;
  margin-right: 0;
}

  .footer__container {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
}
