.header {
padding-top: 54px;
padding-bottom: 122px;
}

.header__container {
padding-top: 37px;
padding-bottom: 41px;
}

.nav {

}

.nav__list {
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.nav__link {
  color: var(--accent-color-text);
  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}

.image {
  background-color: black;
}

@media (max-width: 1200px) {

  .header {
    padding-bottom: 74px;
}

  .nav {
    display: none;
  }
}
