.hero {
  position: relative;
  padding-bottom: 240px;
}

.hero__container {
  width: 820px;
  height: 413px;
  outline: 3px solid var(--accent-color-text);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__top {
  width: 796px;
  padding-top: 53px;
  padding-bottom: 53px;
  outline: 2px solid var(--accent-color-text);
  border-radius: 100px;
}

.hero__date {
  color: var(--accent-color-text);
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.hero__title {
  margin: 0;
  color: var(--accent-color-text);
  font-family: var(--sub-font);
  font-size: 96px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.hero__image-left {
  position: absolute;
  top: -294px;
  left: -66px;
  width: 694px;
  height: 1053px;
  background-image: url(../image/img2.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__image-right {
  position: absolute;
  top: -290px;
  right: -59px;
  width: 694px;
  height: 1053px;
  background-image: url(../image/img1.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}





.info__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--basa-font, 'Montserrat', Arial, sans-serif);
  font-feature-settings: 'ss01'on, 'ss02'on;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  gap: 32px;
}

.info__text {
  margin: 0;
}

.info__date {
  font-family: var(--sub-font, 'Cormorant', Arial, sans-serif);
  color: var(--dark-color-text, #212529);
  font-weight: 300;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.info__number {
  padding-right: 15px;
  border-right: 1px solid black;
  margin: 0;
}

.info__number:last-child {
  padding: 0;
  border-right: none;
}

.info__image {
  object-fit: contain;
  flex-shrink: 0;
}

.info__image_position_top {
  object-fit: contain;
  max-width: 200px;
  max-height: 333px;
  align-self: flex-end;
}

.info__image_position_bottom {
  object-fit: contain;
  max-width: 200px;
  max-height: 416px;
  align-self: flex-end;
}

@media all and (max-width: 1279px) {
  .info__contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1600px;
  }

  .info__details {
    gap: 32px;
  }

  .info__welcome {
    font-size: 48px;
  }

  .info__description {
    font-size: 18px;
    gap: 32px;
  }

  .info__date {
    font-size: 32px;
    gap: 8px;
  }

  .info__number {
    padding-right: 8px;
  }
}

@media (orientation: portrait) and (max-width: 1025px) {
  .info {
    padding: 30px 0;
    min-height: 1133px;
  }

  .info__contain {
    flex-direction: column;
    gap: 34px;
    max-width: 100%;
  }

  .info__image {
    object-fit: cover;
    object-position: center;
  }

  .info__image_position_top {
    width: 477px;
    height: 249px;
  }

  .info__image_position_bottom {
    width: 477px;
    height: 249px;
  }
}

@media (orientation: landscape) and (max-width: 1025px) {
  .info {
    padding: 30px 40px;
    min-height: 1133px;
  }

  .info__contain {
    flex-direction: column;
    gap: 34px;
    max-width: 100%;
  }

  .info__image {
    object-fit: cover;
    object-position: center;
  }

  .info__image_position_top {
    width: 477px;
    height: 249px;
  }

  .info__image_position_bottom {
    width: 477px;
    height: 249px;
  }
}

@media (orientation: portrait) and (max-width: 732px) {
  .info {
    padding: 40px 0;
    min-height: 568px;
  }

  .info__details {
    max-width: 450px;
  }

  .info__contain {
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    width: 100%;
  }

  .info__image_position_top {
    width: 400px;
    height: 200px;
  }

  .info__image_position_bottom {
    width: 400px;
    height: 200px;
  }

  .info__date {
    font-size: 20px;
    line-height: normal;
  }

  .info__welcome {
    font-size: 20px;
    line-height: normal;
  }

  .info__line {
    height: 88px;
    margin: 18px 0;
  }

  .info__description {
    font-size: 14px;
    margin: 0;
  }
}

@media (orientation: portrait) and (max-width: 500px) {
  .info {
    padding: 80px 20px;
    min-height: 500px;
  }

  .info__details {
    max-width: 400px;
  }

  .info__contain {
    flex-direction: column;
    gap: 0;
    max-width: 100%;
  }

  .info__image {
    display: none;
  }

  .info__date {
    font-size: 20px;
    line-height: normal;
  }

  .info__welcome {
    font-size: 20px;
    line-height: normal;
  }

  .info__line {
    height: 88px;
    margin: 18px 0;
  }

  .info__description {
    font-size: 14px;
    margin: 0;
  }
}

@media (max-height: 500px) and (max-width: 900px) {
  .info {
    padding: 80px 20px;
    min-height: 500px;
  }

  .info__details {
    max-width: 400px;
  }

  .info__contain {
    flex-direction: column;
    gap: 0;
    max-width: 100%;
  }

  .info__image {
    display: none;
  }

  .info__date {
    font-size: 20px;
    line-height: normal;
  }

  .info__welcome {
    font-size: 20px;
    line-height: normal;
  }

  .info__line {
    height: 88px;
    margin: 18px 0;
  }

  .info__description {
    font-size: 14px;
    margin: 0;
  }
}
