.location {
  background-image: url(../image/location.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 125px 100px;
  box-sizing: border-box;
  height: 700px;
}

.location__contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 68px;
  max-width: 1600px;
}

.location__plases {
  font-family: var(--sub-font, 'Noto Serif', Courier, monospace);
  font-weight: 300;
  background-color: var(--accent-block-color-text, #F2F1ED);
  color: var(--dark-color-text, #212529);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 60px 40px;
}

.location__place {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.location__subtitle {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: start;
  margin: 0;
}

.location__adress {
  font-family: var(--description-font, Arial, sans-serif);
  font-feature-settings: 'ss01' on, 'ss02' on;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: start;
  margin: 0;
}

@media all and (max-width: 1279px) {
  .location {
    padding: 0 75px;
    box-sizing: border-box;
    height: 100dvh;
  }

  .location__contain {
    gap: 48px;
  }

  .location__plases {
    padding: 60px 40px;
  }

  .location__subtitle {
    font-size: 38px;
  }

  .location__adress {
    font-size: 18px;
  }
}

@media (min-width: 733px) and (max-width: 1025px) {
  .location {
    padding: 108px 0 91.5px;
    width: 100%;
  }

  .location__contain {
    gap: 77px;
    max-width: 100%;
    width: 100%;
    align-items: center;
  }

  .location__text {
    font-size: 80px;
    align-self: flex-start;
    padding-left: 40px;
  }

  .location__info {
    align-self: flex-start;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 100px;
  }

  .location__plases {
    gap: 54px;
    margin: 0 40px;
  }

  .location__image {
    width: 648px;
    height: 379px;
    align-self: flex-end;
  }
}

@media all and (max-width: 732px) {
  .location {
    padding: 46px 0;
    width: 100%;
  }

  .location__contain {
    gap: 36px;
    max-width: 100%;
    width: 100%;
    align-items: center;
  }

  .location__text {
    font-size: 46px;
  }

  .location__info {
    align-self: flex-start;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 36px;
  }

  .location__plases {
    gap: 16px;
    margin: 0 20px;
  }

  .location__subtitle {
    font-size: 20px;
    letter-spacing: 0.36px;
  }

  .location__adress {
    font-size: 12px;
    line-height: 16px;
  }

  .location__image {
    width: 85%;
    height: auto;
    align-self: flex-end;
  }
}
