.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 44px 0;
  box-sizing: content-box;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-block-backgroung, #343A40);
  z-index: 10;
  overflow: hidden;
}

.menu__links {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  cursor: pointer;
}

.menu__link {
  font-family: var(--basa-font, 'Montserrat', Courier, monospace);
  font-feature-settings: 'ss01' on, 'ss02' on;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--accent-block-color-text, #e3e3e3);
  text-decoration: none;
}

.icon-burger {
  display: none;
  position: absolute;
  top: 112px;
  right: 40px;
  width: 97px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  z-index: 10;
  cursor: pointer;
}

.icon-line {
  width: 97px;
  height: 3px;
  background-color: var(--accent-block-backgroung, #343A40);
  transition: transform 1s;
}

.change .icon-line__one {
  -webkit-transform: rotate(-45deg) translate(-18px, 0) ;
  transform: rotate(-45deg) translate(-18px, 0) ;
  background-color: var(--accent-block-color-text, #e3e3e3);
}

.change .icon-line__two {
  opacity: 0;
  background-color: var(--accent-block-color-text, #e3e3e3);
}

.change .icon-line__three {
  -webkit-transform: rotate(45deg) translate(-18px, 0) ;
  transform: rotate(45deg) translate(-18px, -3px) ;
  background-color: var(--accent-block-color-text, #e3e3e3);
}

@media all and (max-width: 1280px) {
  .menu__links {
    width: 75%;
  }

  .menu__link {
    font-size: 18px;
  }
}

@media (max-width: 1025px) {
  .menu {
    display: flex;
    height: 100vh;
    right: -100vw;
    transition: right 1s;
    padding: 0;
  }

  .menu__open {
    width: 100%;
    right: 0;
    transition: right 1s;
  }

  .menu__links {
    flex-direction: column;
    gap: 20px;
  }

  .icon-burger {
    display: flex;
  }

  .icon-line {
    width: 97px;
    height: 3px;
    transition: transform 1s;
  }
}

@media all and (max-width: 732px) {
  .menu {
    height: 100vh;
    transition: right 1s;
  }

  .menu__open {
    width: 100%;
    right: 0;
    transition: right 1s;
  }

  .menu__links {
    flex-direction: column;
    gap: 12px;
  }

  .icon-burger {
    display: flex;
    top: 50px;
    right: 20px;
    gap: 6px;
    width: 40px;
    height: 18px;
  }

  .icon-line {
    width: 40px;
    height: 2px;
  }

  .change .icon-line__one {
    transform: rotate(-45deg) translate(-6px, 6px) ;
  }

  .change .icon-line__three {
    transform: rotate(45deg) translate(-6px, -6px) ;
  }
}

@media (max-height: 500px) and (max-width: 1025px) {
  .menu {
    height: 100vh;
    transition: right 1s;
  }

  .menu__open {
    width: 100%;
    right: 0;
    transition: right 1s;
  }

  .menu__links {
    flex-direction: column;
    gap: 12px;
  }

  .icon-burger {
    display: flex;
    top: 50px;
    right: 20px;
    gap: 6px;
    width: 40px;
    height: 18px;
  }

  .icon-line {
    width: 40px;
    height: 2px;
  }

  .change .icon-line__one {
    transform: rotate(-45deg) translate(-6px, 6px) ;
  }

  .change .icon-line__three {
    transform: rotate(45deg) translate(-6px, -6px) ;
  }
}


