.questions {
  position: relative;
  padding-top: 215px;
  padding-bottom: 214px;
}

.questions__image-left {
  position: absolute;
  bottom: 112px;
  left: 0;
}

.questions__image-right {
position: absolute;
bottom: 112px;
right: 0;
}

.questions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

.questions__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #79585f;
  margin: 0;
  margin-bottom: 38px;
}

.questions__text {
  max-width: 580px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin-bottom: 32px;
}

.questions__legend-allergy {
  max-width: 580px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin-bottom: 27px;
}

.questions__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions__button {
  border-radius: 14px;
  padding: 10px 24px;
  width: 610px;
  height: 64px;
  background: #79585f;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #F2F1ED;
}

.questions__input {
  border: 1px solid #79585f;
  border-radius: 20px;
  padding: 10px 24px;
  width: 610px;
  height: 74px;
  margin-bottom: 37px;
}

.questions__input-allergy {
  border: 1px solid #79585f;
  border-radius: 20px;
  padding: 10px 24px;
  width: 610px;
  height: 74px;
  margin-bottom: 17px;
}

.questions__input::placeholder {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  color: #79585f;
}

.questions__string {
  max-width: 634px;
  border: none;
  margin: 0;
  margin-bottom: 27px;
}

.questions__legend {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin-bottom: 21px;
}

.questions__options {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}

.questions__options-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.questions__top {
  display: flex;
  gap: 15px;
}

.questions__bottom {
  display: flex;
  gap: 15px;
}

.questions__unvisible {
  font-family: inherit;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.questions__label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.questions__visible-radio {
  display: inline-block;
  vertical-align: text-bottom;
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
}

.questions__unvisible:checked+.questions__visible-radio {
  background-color: #79585F;
}

.questions__unvisible:disabled+.questions__visible-radio {
  background-color: #FFFFFF;
}

.questions__unvisible:disabled:checked+.questions__visible-radio {
  background-color: #FFFFFF;
}

.questions__unvisible:focus+.questions__visible-radio {
  background-color: #79585F;
}

.questions__text-span {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  cursor: pointer;
}

@media all and (max-width: 1279px) {
  .questions {
    font-size: 18px;
    gap: 32px;
  }

  .questions__texts {
    gap: 18px;
    max-width: 510px;
    min-width: 400px;
  }

  .questios__form {
    padding: 0 48px 0;
    gap: 32px;
    font-size: 18px;
  }

  .questions__button {
    height: 64px;
    font-size: 18px;
  }

  .questions__input {
    height: 64px;
  }

  .questions__input::placeholder {
    font-size: 18px;
  }

  .questions__string {
    gap: 13px;
  }

  .questions__text-span {
    font-size: 18px;
  }
}

@media (min-width: 733px) and (max-width: 1025px) {
  .questions {
    padding: 69px 40px;
  }
}

@media all and (max-width: 732px) {
  .questions {
    padding: 35px 20px;
    font-size: 12px;
    line-height: 16px;
  }

  .questions__description {
    margin: 12px 0 0;
    width: 100%;
    max-width: 450px;
  }

  .questios__form {
    margin: 24px 0 0;
    gap: 24px;
    font-size: 12px;
    line-height: 16px;
  }

  .questions__button {
    width: 100%;
    height: 35px;
    padding: 0;
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }

  .questions__input {
    width: 100%;
    height: 35px;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
  }

  .questions__string {
    gap: 8px;
  }

  .questions__text {
    margin: 0 0 12px;
    max-width: 100%;
    font-size: 12px;
    line-height: 16px;
  }

  .questions__visible-radio {
    width: 12px;
    height: 12px;
  }

  .questions__text-span {
    font-size: 12px;
    margin-left: 4px;
  }

  .questions__visible-checkbox {
    width: 12px;
    height: 12px;
  }
}
