.questions {
  position: relative;
  padding-top: 100px;
  padding-bottom: 214px;
}

.questions__image-left {
  position: absolute;
  bottom: 112px;
  left: 0;
}

.questions__image-right {
  position: absolute;
  bottom: 112px;
  right: 0;
}

.questions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

.questions__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #79585f;
  margin: 0;
  margin-bottom: 38px;
}

.questions__text {
  max-width: 580px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin-bottom: 32px;
}

.questions__legend-allergy {
  max-width: 580px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin-bottom: 27px;
}

.questions__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions__button {
  border-radius: 14px;
  padding: 10px 24px;
  width: 610px;
  height: 64px;
  background: #79585f;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #F2F1ED;
}

.questions__input {
  border: 1px solid #79585f;
  border-radius: 20px;
  padding: 10px 24px;
  width: 610px;
  height: 74px;
  margin-bottom: 37px;
}

.questions__input-allergy {
  border: 1px solid #79585f;
  border-radius: 20px;
  padding: 10px 24px;
  width: 610px;
  height: 74px;
  margin-bottom: 17px;
}

.questions__input::placeholder {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  color: #79585f;
}

.questions__string {
  max-width: 634px;
  border: none;
  margin: 0;
  margin-bottom: 27px;
}

.questions__legend {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin-bottom: 21px;
}

.questions__options {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}

.questions__options-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.questions__top {
  display: flex;
  gap: 15px;
}

.questions__bottom {
  display: flex;
  gap: 15px;
}

.questions__unvisible {
  font-family: inherit;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.questions__label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.questions__visible-radio {
  display: inline-block;
  vertical-align: text-bottom;
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
}

.questions__unvisible:checked+.questions__visible-radio {
  background-color: #79585F;
}

.questions__unvisible:disabled+.questions__visible-radio {
  background-color: #FFFFFF;
}

.questions__unvisible:disabled:checked+.questions__visible-radio {
  background-color: #FFFFFF;
}

.questions__unvisible:focus+.questions__visible-radio {
  background-color: #79585F;
}

.questions__text-span {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .questions {
    padding-top: 132px;
    padding-bottom: 93px;
  }

  .questions__image-right {
    display: none;
  }

  .questions__image-left {
    display: none;
  }

  .questions__text {
    margin-bottom: 9px;
  }
}



@media (max-width:500px) {
  .questions__title {
    font-size: 36px;
  }

  .questions__text {
    font-size: 16px;
  }

  .questions__string {
    width: 350px;
  }

  .questions__text-span {
    font-size: 16px;
  }

  .questions__options-bottom {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .questions__input-allergy {
    border: 0.75px solid black;
    border-radius: 6px;
    padding: 10px 24px;
    width: 350px;
    height: 44px;
  }

  .questions__button {
    border-radius: 6px;
    padding: 10px 24px;
    width: 350px;
    height: 44px;
    font-size: 16px;
  }

  .questions__input {
   display: none;
  }

  .questions__legend {
    font-size: 16px;
  }

  .questions__legend-allergy {
    font-size: 16px;
  }
}
