.connection{

}

.connection__container {

}

.connection__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.connection__title {

}

.connection__text {

  margin: 0;
}

.connection__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
  width: 100%;
}

.connection__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.connection__input {
  width: 100%;
  height: 74px;
  padding: 10px 24px;
  box-sizing: border-box;
  align-items: start;
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 0.2);
  border: none;
}

.connection__input::placeholder {
  color: var(--accent-block-color-text, #F8F9FA);
  font-feature-settings: 'ss01' on, 'ss02' on;
  font-family: var(--description-font, 'Montserrat', Arial, sans-serif);
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: start;
}

.connection__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.connection__buttons-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.connection__button {
  width: 100%;
  height: 64px;
  padding: 10px 24px;
  box-sizing: border-box;
  border: none;
  border-radius: 14px;
  background-color: var(--accent-block-color-text, #f8f9fa);
  color: var(--dark-color-text, #212529);
  text-align: center;
  font-feature-settings: 'ss01' on, 'ss02' on;
  font-family: var(--description-font, 'Montserrat', Arial, sans-serif);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.01em;
  cursor: pointer;
}

