.timer {
  position: relative;
  padding-top: 48px;
  padding-bottom: 122px;
}

.timer__blok {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  z-index: 4;
  width: 994px;
  height: 420px;
  padding-top: 83px;
  padding-bottom: 80px;
  outline: 2px solid var(--accent-color-text);
  border-radius: 100px;
}


.timer__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #79585f;
  margin: 0;
}

.timer-row {
  justify-content: center;
  gap: 54px;
}

.timer__container {
  width: 1024px;
  height: 451px;
  outline: 3px solid var(--accent-color-text);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.timer__block-info {
  border: 1px solid #91777b;
  border-radius: 20px;
  padding: 16px 8px;
  width: 155px;
  height: 138px;
}

.timer__number {
  font-family: var(--third-family);
  font-weight: 250;
  font-size: 64px;
  line-height: 102%;
  text-align: center;
  color: #79585f;
  margin-bottom: 11px;
}

.timer__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin: 0;
}

@media all and (max-width: 1279px) {
  .timer {
    gap: 32px;
  }

  .timer__blok {
    gap: 32px;
  }

  .timer__block-info {
    min-width: 120px;
    padding: 12px 5px;
    gap: 8px;
  }

  .timer__number {
    font-size: 40px;
  }

  .timer__text {
    font-size: 18px;
  }
}

@media (min-width: 733px) and (max-width: 1025px) {
  .timer {
    padding: 100px 0;
    gap: 30px;
  }

  .timer__blok {
    gap: 34px;
  }

  .timer__block-info {
    min-width: 130px;
    padding: 16px 8px;
  }

  .timer__number {
    font-size: 44px;
    line-height: 45px;
  }
}

@media all and (max-width: 732px) {
  .timer {
    padding: 59px 20px;
    gap: 16px;
  }

  .timer__blok {
    gap: 8px;
  }

  .timer__block-info {
    min-width: 64px;
    min-height: 64px;
    padding: 6px 6px;
    gap: 2px;
  }

  .timer__number {
    font-size: 24px;
    line-height: normal;
  }

  .timer__text {
    font-size: 12px;
    line-height: 16px;
  }
}
