.timer {
  position: relative;
  padding-top: 48px;
  padding-bottom: 122px;
}

.timer__blok {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  z-index: 4;
  width: 994px;
  height: 420px;
  padding-top: 83px;
  padding-bottom: 80px;
  outline: 2px solid var(--accent-color-text);
  border-radius: 100px;
}


.timer__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #79585f;
  margin: 0;
}

.timer-row {
  justify-content: center;
  gap: 54px;
}

.timer__container {
  width: 1024px;
  height: 451px;
  outline: 3px solid var(--accent-color-text);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.timer__block-info {
  border: 1px solid #91777b;
  border-radius: 20px;
  padding: 16px 8px;
  width: 155px;
  height: 138px;
}

.timer__number {
  font-family: var(--third-family);
  font-weight: 250;
  font-size: 64px;
  line-height: 102%;
  text-align: center;
  color: #79585f;
  margin-bottom: 11px;
}

.timer__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
  margin: 0;
}

@media (max-width:1025px) {

  .timer {
    padding-bottom: 29px;
  }

  .timer__blok {
    width: auto;
    height: auto;
    outline: none;
  }

  .timer__title {
    margin-bottom: 13px;
  }

  .timer__container {
    width: auto;
    height: auto;
    outline: none;
  }

  .timer-row {
    gap: 13px;
  }
}

@media (max-width: 500px) {

  .timer {
    padding-top: 50px;
    padding-bottom: 59px;
  }

  .timer__blok {
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
  }

  .timer__title {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .timer__block-info {
    border: 1px solid #91777b;
    border-radius: 8px;
    padding: 11px 8px;
    width: 64px;
    height: 64px;
  }

  .timer__number {
    font-weight: 250;
    font-size: 24px;
    text-align: center;
    color: #79585f;
    margin-bottom: 4px;
  }

  .timer__text {
    font-size: 12px;
  }

  .timer-row {
    gap: 19px;
  }
}
