.timeline {
  padding-top: 63px;
  padding-bottom: 124px;
}

.timeline__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #91777b;
  margin: 0;
  margin-bottom: 73px;
}


.timeline__list-top {
  width: 1200px;
  margin-bottom: 16px;
  padding-left: 168px;
}

.top-left {
  margin-right: 6px;
}

.top1 {
  margin-right: 86px;
}

.top2 {
  margin-right: 124px;
}

.top3 {
  margin-right: 84px;
}

.top4 {
  margin-right: 74px;
}

.top5 {
  margin-right: 92px;
}

.top6 {
  margin-right: 92px;
}

.timeline__item-top {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
}

.timeline__image {
  margin-bottom: 2px;
}

.timeline__list-bottom {
  width: 1200px;
  padding-left: 83px;
}

.timeline__item-bottom {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  text-align: center;
  color: var(--accent-color-text);
}

.bottom1 {
  margin-right: 47px;
}

.bottom2 {
  margin-right: 64px;
}

.bottom3 {
  margin-right: 74px;
}

.bottom4 {
  margin-right: 66px;
}

.bottom5 {
  margin-right: 95px;
}

.bottom6 {
  margin-right: 55px;
}



@media (max-width:1200px) {

  .timeline {
    padding-bottom: 150px;
  }

  .timeline__container {
    gap: 60px;
    flex-direction: row;
    align-items: flex-start;
  }

  .timeline__list-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 102px;
    padding-top: 10px;
    padding-left: 244px;
  }

  .timeline__list-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    padding-left: 0;
    padding-right: 108px;
    padding-top: 10px;
    gap: 102px;
  }

  .timeline__image {
    padding-top: 8px;
    position: absolute;
  }

  .top1 {
    margin-right: 0;
  }

  .top2 {
    margin-right: 0;
  }

  .top3 {
    margin-right: 0;
  }

  .top4 {
    margin-right: 0;
  }

  .top5 {
    margin-right: 0;
  }

  .top6 {
    margin-right: 0;
  }
}


@media (max-width:720px) {
  .timeline {
    padding-top: 22px;
    padding-bottom: 15px;
  }

  .timeline__list-top {
    margin: 0;
    padding: 0;
  }

  .timeline__list-bottom {
    margin: 0;
    padding: 0;
  }

  .timeline__title {
    font-size: 36px;
    margin-bottom: 67px;
  }

  .timeline__list-top {
    font-size: 14px;
    margin-right: 45px;
    gap: 69px;
  }

  .timeline__list-bottom {
    font-size: 14px;
    margin-left: 36px;
    gap: 69px;
  }

  .timeline__item-top {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #79585f;
  }

  .timeline__item-bottom {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #79585f;
  }

  .timeline__container {
    gap: 0;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 98px;

  }

  .timeline__image {
    position: absolute;
    top: -8px;
  }
}
