.timeline {
padding-top: 63px;
padding-bottom: 124px;
}

.timeline__container {
flex-direction: column;
justify-content: center;
align-items: center;
}

.timeline__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #91777b;
  margin: 0;
  margin-bottom: 73px;
}

.timeline__list-top {
gap: 80px;
margin-bottom: 16px;
}

.timeline__item-top {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #79585f;
}

.timeline__image {
  margin-bottom: 6px;
}

.timeline__list-bottom  {
  gap: 80px;
}

.timeline__item-bottom {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  text-align: center;
  color: var(--accent-color-text);
}
